body {
    font-size: 16px;
}

:root {
	--theme-color: #bef3ff;
	--cover-button-primary-background: #51bcd4;
	--link-color: #69dffa;
    --cover-max-width: 100em;
	--cover-heading-font-size-max: 120;
    --cover-heading-font-size-min: 34;
	--heading-h1-border-width: 0 0 1px 0;
    --heading-h1-border-color: var(--mono-tint2);
	--heading-h2-border-width: 0 0 0 0;
	--heading-h1-color: #bef3ff;
	--sidebar-name-color: #bef3ff;
}

.cover {
    background-image: url(../_images/Intro/docIntro.jpg);
    background-size: cover;
}

.cover h1 .version {
	margin-left: 20px;
}

.cover h1 span {
	text-shadow: 2px 2px 4px #000;
}

.cover-main .anchor span {
    color: #2d3e50;
    font-size: 4rem;
}

.markdown-section a {
    text-decoration: none;
}

.markdown-section code {
    color: #d7d7d7;
}

.markdown-section h2 {
    margin: 0.8rem auto 0.8rem auto;
}

.markdown-section h3 {
    margin: 0.6rem auto 0.6rem auto;
}

section.cover .cover-main>p:last-child a,
section.cover .cover-main > p:last-child a:last-child {
    color: rgba(255, 255, 255, 0.8);
    background-color: #2d3e50;
    border: none;
    opacity: 0.95;
}

section.cover .cover-main>p:last-child a:hover,
section.cover .cover-main>p:last-child a:last-child:hover {
    opacity: 1.0;
    color: rgba(255, 255, 255, 1.0);
}

.sidebar {
    padding: 0 0;
    width: 250px;
}

.sidebar>h1 {
    margin: 1.5rem auto;
    font-weight: 500;
}
.sidebar > h1 a:hover {
    color: #e2e2e2;
}
.sidebar ul li a:hover {
    color: #e2e2e2;
    text-decoration: none;
}
.content {
    padding-top: 0;
}

.markdown-section {
    max-width: 90%;
    overflow-x: auto;
}

.markdown-section th:first-child {
    min-width: 120px;
    max-width: 120px;
    word-break: break-word;
    /* overflow: hidden; */
    /* white-space:normal; */
    /* text-overflow: ellipsis; */
}

.markdown-section td img {
    max-width: none;
}

.markdown-section td {
    padding: 6px 8px;
}

